@model StudyAdministration.Models.AttendanceFilterViewModel

@{
    ViewData["Title"] = "Attendance Reports";
}

<h1>Attendance Reports</h1>

<div class="row">
    <form asp-controller="Attendance" asp-action="FilterTest" method="get">
        <div class="col-sm-4">
            <select asp-for="YearFilter" asp-items="Model.Years" class="form-control">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-sm-4">
            <select asp-for="SubjectFilter" asp-items="Model.Subjects" class="form-control">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-sm-4">
            <input type="submit" value="Filter" class="btn btn-default" />
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attendances[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendances[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendances[0].Subject)
            </th>
            <th>
                Year
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Attendances)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Name)
                </td>
                <td>
                    @(12 - (item.Student.FinishYear - DateTime.Now.Year))
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>

            </tr>
        }
    </tbody>
</table>
