@model IEnumerable<StudyAdministration.Models.Attendance>

@{
    ViewData["Title"] = "Attendance Reports";
}

<h2>Index</h2>

<p>
    View Attendance Reports
</p>

<hr />

<form asp-controller="Attendance" asp-action="Index" method="get">
    <p>
        <!--Years: <select asp-for="YearFilter" asp-items="Model.Years">
            <option value="">All</option>
        </select>-->
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                Year
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Name)
                </td>
                <td>
                    @(12 - (item.Student.FinishYear - DateTime.Now.Year))
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>

            </tr>
        }
    </tbody>
</table>
